.nav-container {
  /* border: 3px solid green; */
  padding-top: 30px;
}
.nav-items li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  font-family: montserrat;
  color: #caae37;
  list-style: none;
  margin-right: 40px;
  /* border: 3px solid red; */
}

.shop-btn {
  height: 33px;
}

.wrapper-navigation {
  /* border: 3px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 281px;
  /* border: 3px solid red; */
}
