.desc-container {
  height: 100vh;
  /* border: 3px solid yellow; */
}

.heading-desc {
  /* border: 3px solid yellow; */
  /* text-align: center; */
  font-family: sunflower;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  padding-top: 58px;
  padding-left: 20px;
}

.logoForHim {
  width: 121.99px;
  height: 241.33px;
}

.wrapper-desc {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  /* border: 3px solid yellow; */
}

.product-wrapper {
  display: flex;
  /* border: 3px solid yellow; */
  width: 1000px;
  justify-content: space-between;
  margin: 70px auto;
}

.product-desc {
  display: flex;
  flex-direction: column;
  /* border: 3px solid yellow; */
  align-items: center;
}

.forhim-text {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #caae37;
  padding-bottom: 28px;
}

.buynow-tag {
  font-family: montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 26px;
  color: #f3f8f3;
  /* border: 3px solid yellow; */
  background-color: #1f1f1f;
  width: 251.94px;
  /* height: 57.46px; */
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 35px;
  text-align: center;
}
