.header-container {
  display: flex;
  align-items: center;
  color: aliceblue;
  height: calc(100vh - 100px);
  /* border: 3px solid green; */
}

.hero-content {
  margin: 0 180px;
  padding: 10px 30px;
  border: 2px solid #ffffff;
  font-family: montserrat;
  font-weight: bold;
  margin-top: 15%;
}

.wrapper-header {
  max-width: 1200px;
  /* height: 500px; */
  margin: 0 auto;
  /* border: 3px solid yellow; */
}
