/* Default Settings */

* {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: sunflower;
  src: url(./assets/fonts/MADE\ Sunflower\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: montserrat;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}

.wrapper {
  max-width: 1199px;
  margin: 0 auto;
  border: 3px solid yellow;
}

/* End Default Settings */

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  /* border: 3px solid black; */
}

.nav-header-background {
  background-image: url("./assets/images/IMG_5818\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* End Navigation */

/* Header */

header h1 {
  margin-top: 27%;
  font-family: sunflower;
  font-size: 96px;
  /* width: 700px; */
  line-height: 92px;
  color: #caae37;
  /* border: 3px solid red; */
  text-align: center;
}

/* End Header */

/* Description Page */

/* End of Description Page */
